{
  "singleQuote": true,
  "semi": false,
  "endOfLine": "auto",
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false
}
